<div class="container">
<p>
</p>
<div class="row">

    <div class="col-sm-12 mtp30">    
    <p align="left">Matoshree Surgical & Pharmaceuticals is a professionally managed company focused in supplying high quality hospital,medical,scientific,laboratory equipments and hospital supplies. Founded in the year 2010, the company is based in Aurangabad, Maharashtra, India.</p>
    <p align="left">We supply the equipments, devices and instruments, outlined below:</p>
    <div class="row">
    <div class="col-sm-3">
    <ul class="nostyle">
    <li><i class="fa fa-check-square"></i> Orthopaedic Instruments</li>
    <li><i class="fa fa-check-square"></i> Anaesthesia Products </li>
    <li><i class="fa fa-check-square"></i> Surgical Rubber Goods </li>
    <li><i class="fa fa-check-square"></i> Rehabilitation Aids </li>
    <li><i class="fa fa-check-square"></i> Lab Equipment </li>
    </ul>
    </div>
    <div class="col-sm-3">
    <ul class="nostyle">
    
    <li><i class="fa fa-check-square"></i> Hospital Furniture</li>
    <li><i class="fa fa-check-square"></i> Weighing Balances</li>
    
    <li><i class="fa fa-check-square"></i> Plastic Holloware</li>
    <li><i class="fa fa-check-square"></i> Shadowless Lamps </li>
    <li><i class="fa fa-check-square"></i> Medical Disposables </li>
    
    </ul>
    </div>
    <div class="col-sm-3">
    <ul class="nostyle">
    <li><i class="fa fa-check-square"></i> Autoclaves </li>
    <li><i class="fa fa-check-square"></i> Microscopes & Projectors</li>
    <li><i class="fa fa-check-square"></i> Diagnostic Instruments </li>
    <li><i class="fa fa-check-square"></i> Suction Units </li>
    <li><i class="fa fa-check-square"></i> Surgical Needles </li>
    
    
    </ul>
    </div>
    <div class="col-sm-3">
    <ul class="nostyle">
    <li><i class="fa fa-check-square"></i> The printing & typesetting</li>
    <li><i class="fa fa-check-square"></i> Lorem Ipsum has been</li>
    <li><i class="fa fa-check-square"></i> Cold Chain Equipment</li>
    <li><i class="fa fa-check-square"></i> Examination Lights</li>
    <li><i class="fa fa-check-square"></i> UV Sterilizers</li>
    <!--<li><i class="fa fa-check-square"></i> Stainless Steel Hospital Holloware and Sterilizers </li>-->
    </ul>
    </div>
    
    <div class="col-md-12 col-sm-12 mtp15">
    <h3 class="sky">Our Mission</h3>
    
    <p align="centre">To provide innovative, integrated health care products and services to our customers - enabling them to deliver the best quality patient care in most efficient and cost effective way.</p>

    <div class="row">
        <div class="col-md-12 col-sm-12">
        <ul class="nostyle mbt0">
        <li><i class="fa fa-check-square"></i> To keep the prices of our quality products at affordable levels for the end users.s</li>
        <li><i class="fa fa-check-square"></i> To continue planning, in advance, to raise the level of our services in future.</li>
        <li><i class="fa fa-check-square"></i> To be innovative constantly.</li>
        <li><i class="fa fa-check-square"></i> To win the confidence of our clients based on mutual trust & higher business ethics.</li>    
        </ul>
        </div>	
    </div>
    </div>
    
    
    
    
    
    
    <div class="col-md-12 col-sm-12 mtp15 ">
    <h3 class="sky">Quality Policy</h3>
    <p>It is our policy to attain a quality of product and service that surpasses our client's needs and expectations. The fact that we are in a business which is directly linked to the health and well being of the people makes us more responsible company, and no matter what, no compromises are made.</p>
    </div>
    
    </div>
    
    </div>
    
    
    </div>
</div>
