<br>
<div class="container">
  <div class="row" *ngIf="authService.isAdmin()">
    <div class="col-sm">
      <div class="float-right">
        <button type="button" class="btn btn-primary waves-light" data-toggle="modal" (click)="setProductObject(null)" data-target="#exampleModalLong">
          Add Product
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
          <div class="row">
              <label for="form9">Search Product:</label>
              <input type="text" class="form-control" id="form9" name="searchProductName" [(ngModel)]="searchProductName"  placeholder="Search Product Name">
          </div>
          <br>
          <br>
          <br>
          <div class="row">
          <label for="type_select">Product Type:</label>
          <select class="form-control" name="" id="type_select" [(ngModel)]="selectedPtype">
            <option *ngFor="let ptype of ptypes" [ngValue]="ptype">{{ptype}}</option>
          </select>  
          </div>
          <br>

          <div class="row" *ngIf="selectedPtype == ptypes[0] ; else item1">
              <label for="pharmabrand_select">Product Category:</label>
              <select class="form-control" name="" id="pharmabrand_select" [(ngModel)]="selectedBrand">
                <option *ngFor="let allbrand of allbrands" [ngValue]="allbrand">{{allbrand}}</option>
              </select>
          </div>

        <ng-template #item1>
        <div class="row" *ngIf="selectedPtype == ptypes[1] ; else item2">
            <label for="brand_select">Product Category:</label>
            <select class="form-control" name="" id="brand_select" [(ngModel)]="selectedBrand">
              <option *ngFor="let brand of brands" [ngValue]="brand">{{brand}}</option>
            </select>
        </div>
      </ng-template>

      <ng-template #item2>      
        <div class="row" *ngIf="selectedPtype == ptypes[2] ; else item3 ">
            <label for="pharmabrand_select">Product Category:</label>
            <select class="form-control" name="" id="pharmabrand_select" [(ngModel)]="selectedBrand">
              <option *ngFor="let pharmabrand of pharmabrands" [ngValue]="pharmabrand">{{pharmabrand}}</option>
            </select>
        </div>
      </ng-template>

      <ng-template #item3>  
        <div class="row" *ngIf="selectedPtype == ptypes[3]  ; else itemdefault">
            <label for="pharmabrand_select">Product Category:</label>
            <select class="form-control" name="" id="pharmabrand_select" [(ngModel)]="selectedBrand">
              <option *ngFor="let psesurgicalbrand of psesurgicalbrands" [ngValue]="psesurgicalbrand">{{psesurgicalbrand}}</option>
            </select>
        </div>
      </ng-template>  

      <ng-template #itemdefault>  
          <div class="row">
              <label for="pharmabrand_select">Product Category:</label>
              <select class="form-control" name="" id="pharmabrand_select" [(ngModel)]="selectedBrand">
                <option></option>
              </select>
          </div>
        </ng-template>  
    
      </div>
    </div>
    <div class="col-md-9">

      <div class="container">
        <div class="row">
          <!-- List of Products -->
          <div class="col-sm-4 mb-2" *ngFor="let product of productList | filterByBrand: selectedBrand :selectedPtype :searchProductName | paginate: { itemsPerPage: 6, currentPage: page }">
            <div class="item">
              <div class=" mb-r">
                <!--Card-->
                <div class="card card-cascade wider">
                    <div class="view overlay hm-white-slight">
                        <img [src]="product.productImageUrl" class="img-fluid" alt="" width="360px" height="640px">
                        <a>
                          <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                        </a>
                      </div>
                  <!--Card image-->
                  <!-- <a [routerLink]="['/products/product', product.$key]">
                    <div class="view overlay hm-white-slight">
                      <img [src]="product.productImageUrl" class="img-fluid" alt="" width="360px" height="640px">
                      <a>
                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                      </a>
                    </div>
                  </a> -->
                  <!--/.Card image-->
                  <!--Card content-->
                  <div class="card-body text-center no-padding">
                    <!--Category & ₹Title-->
                    <h5>{{ product.productCategory }}</h5>
                    <!-- <a class="text-muted">
                      <h5>{{ product.productCategory }}</h5>
                    </a> -->
                    <p class="card-title">
                      <strong>
                        <p class="card-text">{{ product.productName }}
                        <!-- <a [routerLink]="['/products/product', product.$key]" routerLinkActive="router-link-active">{{ product.productName }}</a> -->
                      </strong>
                    </p>
                    <!--Description-->
                    <!-- <p class="card-text">{{ product.productDescription }}
                    </p> -->
                    <!--Card footer-->
                    <div class="card-footer">
                      <!-- <span class="left">&#8377; {{ product.productPrice }} </span> -->
                      <span class="right">
                        <!-- <a placement="top" mdbTooltip="Quick Look" container="body" [routerLink]="['/products/product', product.$key]">
                          <i class="fa fa-eye"></i>
                        </a>
                        <a placement="top" mdbTooltip="Add to Wishlist" container="body" (click)="addFavourite(product)">
                          <i class="fa fa-heart"></i>
                        </a> -->
                        <a placement="top" mdbTooltip="Modify Product" container="body" *ngIf="authService.isAdmin()" (click)="setProductObject(product)" data-toggle="modal" data-target="#exampleModalLong">
                          <i class="fa fa-edit"></i>
                        </a> 
                        <a placement="top" mdbTooltip="Remove Product" container="body" *ngIf="authService.isAdmin()" data-toggle="modal" data-target="#centralModalDanger">
                        <!-- <a placement="top" mdbTooltip="Remove Product" container="body" *ngIf="authService.isAdmin()" (click)="removeProduct(product.$key)"> -->
                          <i class="fa fa-trash"></i>
                        </a>
                      </span>

                      <div class="modal fade" id="centralModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-notify modal-danger" role="document">
                              <!--Content-->
                              <div class="modal-content">
                                  <!--Header-->
                                  <div class="modal-header">
                                      <p class="heading lead">Prodcut Delete</p>
                          
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true" class="white-text">&times;</span>
                                      </button>
                                  </div>
                          
                                  <!--Body-->
                                  <div class="modal-body">
                                      <div class="text-center">
                                          <p>Product will be deleted,are you sure?.</p>
                                      </div>
                                  </div>
                          
                                  <!--Footer-->
                                  <div class="modal-footer justify-content-center">
                                      <a type="button" class="btn btn-danger" (click)="removeProduct(product.$key)" data-dismiss="modal">YES <i class="fa fa-diamond ml-1"></i></a>
                                      <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">Cancel</a>
                                  </div>
                              </div>
                              <!--/.Content-->
                          </div>
                          </div>
                          <!-- Central Modal Medium Danger-->
                    </div>
                  </div>
                  <!--/.Card content-->
                </div>
                <!--/.Card-->
              </div>
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <div class="text-center mt-3">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
      <!--/.Card-->
    </div>
  </div>
</div>
<app-add-product [productType]=selectedPtype [productCategory]=selectedBrand [productObject]=productObject [ptypes]=ptypes [brands]=brands [pharmabrands]=pharmabrands [psesurgicalbrands]=psesurgicalbrands [allbrands]=allbrands></app-add-product>
<ng2-toasty></ng2-toasty>
