<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #addProductForm="ngForm" (ngSubmit)="createProductNew(productObject)"  [ngFormOptions]="{updateOn: 'change'}">        
        <!-- <form #addProductForm="ngForm" (ngSubmit)="createProduct(addProductForm)"  [ngFormOptions]="{updateOn: 'change'}"> -->
            <div class="row">
                <label for="type_select">Product Type:</label>
                <select class="form-control" id="type_select" name="productType" [(ngModel)]="productObject.productPtype">
                  <option *ngFor="let ptype of ptypes" [ngValue]="ptype">{{ptype}}</option>
                </select>  
            </div>       

                <div class="row" *ngIf="productObject.productPtype == ptypes[1] ">
                <label for="brand_select">Product Category:</label>
                <select class="form-control" name="productCategory" id="brand_select" [(ngModel)]="productObject.productCategory">
                  <option *ngFor="let brand of brands" [ngValue]="brand">{{brand}}</option>
                </select>
                </div>
        
                <div class="row" *ngIf="productObject.productPtype == ptypes[2] ">
                <label for="pharmabrand_select">Product Category:</label>
                <select class="form-control" name="productCategory" id="pharmabrand_select" [(ngModel)]="selectedBrand">
                  <option *ngFor="let pharmabrand of pharmabrands" [ngValue]="pharmabrand">{{pharmabrand}}</option>
                </select>
                </div>
        
                <div class="row" *ngIf="productObject.productPtype == ptypes[3] ">
                  <label for="pharmabrand_select">Product Category:</label>
                  <select class="form-control" name="productCategory" id="pharmabrand_select" [(ngModel)]="selectedBrand">
                    <option *ngFor="let psesurgicalbrand of psesurgicalbrands" [ngValue]="psesurgicalbrand">{{psesurgicalbrand}}</option>
                  </select>
                </div>

          <div class="row">
            <!--First column-->
            <div class="col-md-12">
              <div class="md-form">
                <input type="text" class="form-control" id="form9" name="productName" [(ngModel)]="productObject.productName" placeholder="Product Name" required>
              </div>
            </div>
          </div>
          <div class="row">
            <!--First column-->
            <div class="col-md-12">
              <div class="md-form">
                <textarea type="text" id="form76" class="form-control" placeholder="Product Description" name="productDescription"  [(ngModel)]="productObject.productDescription" required></textarea>
              </div>
            </div>
          </div>
          <!--/.Second row-->
          <!--Fourth row-->
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input type="text" id="form51" [(ngModel)]="productObject.productSeller" class="form-control" name="productSeller"  placeholder="Seller">
              </div>
            </div>
          </div>
          <!--/.Fourth row-->
          <!--Fifth row-->
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input type="text" id="form51" [(ngModel)]="productObject.productImageUrl" class="form-control" name="productImageUrl" placeholder="Image Url exactly 640*360 dimensions">
              </div>
            </div>
          </div>
          <!--/.Fifth row-->
          <!-- <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add Product</button>
          </div> -->
          <div class="modal-footer" *ngIf="productObject.productImageUrl != null; else newProduct">
              <button type="submit" class="btn btn-primary">Modify Product</button>
          </div>
          <ng-template #newProduct>
              <button type="submit" class="btn btn-primary">Add Product</button>
          </ng-template>
          
        </form>
      </div>
    </div>
  </div>
</div>
