<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

          <div class="modal-footer" *ngIf="productObject.$key != null; else newProductLabel">
              <h5 class="modal-title" id="exampleModalLongTitle">Modify Product</h5>
            </div>
            <ng-template #newProductLabel>
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Product</h5>
            </ng-template>          

        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #addProductForm="ngForm"  (ngSubmit)="createProductNew(addProductForm,productObject)">        

            <div class="form-group">

              <div class="row">
                  <label for="type_select">Product Type:</label>
                  <select class="form-control" name="productPtype" id="type_select" [(ngModel)]="productObject.productPtype">
                    <option *ngFor="let ptype of ptypes" [ngValue]="ptype">{{ptype}}</option>
                  </select>  
                  </div>
                  <br>
        
                  <div class="row" *ngIf="productObject.productPtype == ptypes[0] ; else item1">
                      <label for="pharmabrand_select">Product Category:</label>
                      <select class="form-control" name="productCategory" id="pharmabrand_select" [(ngModel)]="productObject.productCategory">
                        <option *ngFor="let allbrand of allbrands" [ngValue]="allbrand">{{allbrand}}</option>
                      </select>
                  </div>
        
                <ng-template #item1>
                <div class="row" *ngIf="productObject.productPtype == ptypes[1] ; else item2">
                    <label for="brand_select">Product Category:</label>
                    <select class="form-control" name="productCategory" id="brand_select" [(ngModel)]="productObject.productCategory">
                      <option *ngFor="let brand of brands" [ngValue]="brand">{{brand}}</option>
                    </select>
                </div>
              </ng-template>
        
              <ng-template #item2>      
                <div class="row" *ngIf="productObject.productPtype == ptypes[2] ; else item3 ">
                    <label for="pharmabrand_select">Product Category:</label>
                    <select class="form-control" name="productCategory" id="pharmabrand_select" [(ngModel)]="productObject.productCategory">
                      <option *ngFor="let pharmabrand of pharmabrands" [ngValue]="pharmabrand">{{pharmabrand}}</option>
                    </select>
                </div>
              </ng-template>
        
              <ng-template #item3>  
                <div class="row" *ngIf="productObject.productPtype == ptypes[3]  ; else itemdefault">
                    <label for="pharmabrand_select">Product Category:</label>
                    <select class="form-control" name="productCategory" id="pharmabrand_select" [(ngModel)]="productObject.productCategory">
                      <option *ngFor="let psesurgicalbrand of psesurgicalbrands" [ngValue]="psesurgicalbrand">{{psesurgicalbrand}}</option>
                    </select>
                </div>
              </ng-template>  
        
              <ng-template #itemdefault>  
                  <div class="row">
                      <label for="pharmabrand_select">Product Category:</label>
                      <select class="form-control" name="productCategory" id="pharmabrand_select" [(ngModel)]="selectedBrand">
                        <option></option>
                      </select>
                  </div>
                </ng-template>              

          <div class="row">
            <!--First column-->
            <div class="col-md-12">
              <div class="md-form">
                <input type="text" class="form-control" id="form9" name="productName" [(ngModel)]="productObject.productName" placeholder="Product Name">
              </div>
            </div>
          </div>
          <div class="row">
            <!--First column-->
            <div class="col-md-12">
              <div class="md-form">
                <textarea type="text" id="form76" class="form-control" placeholder="Product Description" name="productDescription"  [(ngModel)]="productObject.productDescription" required></textarea>
              </div>
            </div>
          </div>
          <!--/.Second row-->
          <!--Fourth row-->
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input type="text" id="form511" [(ngModel)]="productObject.productSeller" class="form-control" name="productSeller"  placeholder="Seller">
              </div>
            </div>
          </div>
          <!--/.Fourth row-->
          <!--Fifth row-->
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input type="text" id="form512" [(ngModel)]="productObject.productImageUrl" class="form-control" name="productImageUrl" placeholder="Image Url 134Px*237Px. products/P-001.jpg ">
              </div>
            </div>
          </div>

          <div class="modal-footer" *ngIf="productObject.$key != null; else newProduct">
            <button type="submit" class="btn btn-primary">Modify Product</button>
          </div>
          <ng-template #newProduct>
              <button type="submit" class="btn btn-primary">Add Product</button>
          </ng-template>          

          <!-- <div class="modal-footer" *ngIf="productObject.productImageUrl != null; else newProduct">
            <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#updateModal">Modify Product</button>
          </div>
          <ng-template #newProduct>
              <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#warningModal">Add Product</button>
          </ng-template>           -->

          <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-notify modal-warning" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="warningModalTitle">Add Product</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <p>Product will be added,are you sure?.</p>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">      
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Add</button>
                </div> 
                </div>
              </div>
          </div>

          <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="warningModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-notify modal-warning" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="warningModalTitle">Update Product</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <p>Product will be updated,are you sure?.</p>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">      
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Add</button>
                </div> 
                </div>
              </div>
          </div>          


        </div>
        </form>
      </div>
    </div>
  </div>
</div>



