<!--Header-->
    <div class="container">
    <div class="row">

      <div class="col-md-7" style="margin: 10px 0 3px 0;"><a href="index.html"><img src="../../../assets/img/matoshreelogo.png" class="midd" alt="logo"/></a></div>

    <div class="col-md-5" style="margin: 10px 0 3px 0;">
    <h5 class="greay align mbt10 mrg0"><i class="fa fa-envelope"></i><strong>: matoshreebiz@gmail.com</strong><br><strong><i class="fa fa-whatsapp"></i>: +91 9422712502</strong></h5>
    </div>
  </div>
  <!--
  <div class="row">
      <marquee class="sky" style="position: absolute; top: 121px;"><strong>We are avialable 24X7 x 365. Get a Free Quote.</strong></marquee>
  </div>
  -->
  </div>
  <!--/.Header-->