/* You can add global styles to this file, and also import other style files */
@import "assets/css/msi.css";
router-outlet ~ * {
  /*position: absolute; with this footer comes up*/
  position: relative;
  width: 100%;
  height: 100%;
}
